{% extends "Blog/base.html" %}
{% load l10n %}
{% block main %}
<h2>{{ object.title }}</h2>
<ul class="list-group list-group-flush">
    <li class="list-group-item"><time>{{ object.updated|localize }}</time></li>
    <li class="list-group-item"><div>
        {{ object.body }}
    </div></li>
</ul>
<br>
<br>
{% if user.is_authenticated %}
<p><a class="btn btn-outline-info btn-lg" href="{% url 'update' object.pk %}">編集</a></p>
<p><a class="btn btn-outline-danger btn-lg" href="{% url 'delete' object.pk %}">削除</a></p>
{% endif %}
<p><a class="btn btn-outline-info btn-lg" href="{% url 'list' %}">戻る</a></p>
{% endblock %}